name: Multi-OS System Check

on:
  workflow_dispatch:

jobs:
  test-basic:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run basic command
        run: echo "Workflow iniciado correctamente"

