name: Release Deployment

on:
  push:
    branches:
      - main
    tags:
      - 'v*'   # Cualquier tag como v1.0, v2.3.1

jobs:
  deploy:
    name: Deploy to Vercel
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Trigger Vercel Deploy Hook
        run: |
          curl -X POST "${{ secrets.VERCEL_DEPLOY_HOOK }}"
